[submodule "lib/threedubmedia"]
	path = lib/threedubmedia
	url = https://github.com/GerHobbelt/jquery.threedubmedia.git
[submodule "documentation/wiki"]
	path = documentation/wiki
	url = https://github.com/GerHobbelt/SlickGrid.wiki.git
[submodule "lib/hammer"]
	path = lib/hammer
	url = https://github.com/GerHobbelt/hammer.js.git
[submodule "lib/jquery-multiselect"]
	path = lib/jquery-multiselect
	url = https://github.com/GerHobbelt/jquery-multiselect.git
[submodule "lib/jquery-simulate"]
	path = lib/jquery-simulate
	url = https://github.com/GerHobbelt/jquery-simulate.git
	ignore = dirty
[submodule "lib/jquery-sparkline"]
	path = lib/jquery-sparkline
	url = https://github.com/GerHobbelt/jquery.sparkline.git
[submodule "lib/keymaster"]
	path = lib/keymaster
	url = https://github.com/GerHobbelt/keymaster.git
[submodule "lib/spectrum"]
	path = lib/spectrum
	url = https://github.com/GerHobbelt/spectrum.git
[submodule "lib/verge-screendimensions"]
	path = lib/verge-screendimensions
	url = https://github.com/GerHobbelt/verge.git
[submodule "lib/TinyColor"]
	path = lib/TinyColor
	url = https://github.com/GerHobbelt/TinyColor.git
[submodule "lib/jquery-iCheck"]
	path = lib/jquery-iCheck
	url = https://github.com/GerHobbelt/iCheck.git
[submodule "lib/jquery-jsonp"]
	path = lib/jquery-jsonp
	url = https://github.com/GerHobbelt/jquery-jsonp.git
[submodule "lib/jquery-fixclick"]
	path = lib/jquery-fixclick
	url = https://github.com/GerHobbelt/jquery-fixclick.git
[submodule "lib/jquery-migrate"]
	path = lib/jquery-migrate
	url = https://github.com/GerHobbelt/jquery-migrate.git
