/*
 * IMPORTANT:
 * In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
 * No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
 * classes should alter those!
 */
.slickgrid-container .slick-header-columns,
.slickgrid-container .slick-header-column {
  background: url('images/header-columns-bg.gif') repeat-x center bottom;
}
.slickgrid-container .slick-header-columns {
  border-bottom: 1px solid silver;
}
.slickgrid-container .slick-header-column {
  border-right: 1px solid silver;
}
.slickgrid-container .slick-header-column:hover,
.slickgrid-container .slick-header-column-active {
  background: #ffffff url('images/header-columns-over-bg.gif') repeat-x center bottom;
}
.slickgrid-container .slick-headerrow {
  background: #fafafa;
}
.slickgrid-container .slick-headerrow-column {
  background: #fafafa;
  border-bottom: 0;
  height: 100%;
}
.slickgrid-container .slick-row {
  position: absolute;
  background: white;
  border: 0;
  line-height: 20px;
}
.slickgrid-container .slick-row .slick-cell {
  background: white;
}
.slickgrid-container .slick-row.selected {
  z-index: 10;
}
.slickgrid-container .slick-row.selected .slick-cell {
  background: #DFE8F6;
}
.slickgrid-container .slick-row.ui-state-active .slick-cell {
  background: #F5F7D7;
}
.slickgrid-container .slick-cell {
  padding-left: 4px;
  padding-right: 4px;
}
.slickgrid-container .slick-group {
  border-bottom: 2px solid silver;
}
.slickgrid-container .slick-group-toggle {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}
.slickgrid-container .slick-group-toggle.expanded {
  background: url('images/collapse.gif') no-repeat center center;
}
.slickgrid-container .slick-group-toggle.collapsed {
  background: url('images/expand.gif') no-repeat center center;
}
.slickgrid-container .slick-group-totals {
  color: gray;
  background: white;
}
.slickgrid-container .slick-sortable-placeholder {
  background: silver !important;
}
.slickgrid-container .slick-cell.selected {
  background-color: beige;
}
.slickgrid-container .slick-row.odd .slick-cell.selected {
  background-color: #e7e7c3;
}
.slickgrid-container .slick-cell.active {
  border-color: gray;
  border-style: solid;
}
.slickgrid-container .slick-row.odd .slick-cell {
  background: #fafafa;
}
.slickgrid-container .slick-row.ui-state-active {
  background: #F5F7D7;
}
.slickgrid-container .slick-row.loading {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
.slickgrid-container .slick-cell.invalid {
  border-color: red;
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-name: slickgrid-invalid-hilite;
  -webkit-animation-name: slickgrid-invalid-hilite;
}
@-moz-keyframes slickgrid-invalid-hilite {
  from {
    box-shadow: 0 0 6px red;
  }
  to {
    box-shadow: none;
  }
}
@-webkit-keyframes slickgrid-invalid-hilite {
  from {
    box-shadow: 0 0 6px red;
  }
  to {
    box-shadow: none;
  }
}
.slickgrid-container .slick-header-menubutton {
  background-position: center center;
  background-repeat: no-repeat;
  border-left: thin ridge silver;
  bottom: 0;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}
.slickgrid-container .slick-header-menu {
  background: none repeat scroll 0 0 white;
  border: 1px solid #BFBDBD;
  min-width: 175px;
  padding: 4px;
  z-index: 100000;
  cursor: default;
  display: inline-block;
  margin: 0;
  position: absolute;
}
.slickgrid-container .slick-header-menu button {
  border: 1px solid #BFBDBD;
  background-color: white;
  width: 45px;
  padding: 4px;
  margin: 4px 4px 4px 0;
}
.slickgrid-container .slick-header-menu .filter {
  border: 1px solid #BFBDBD;
  font-size: 8pt;
  height: 400px;
  margin-top: 6px;
  overflow: scroll;
  padding: 4px;
  white-space: nowrap;
  width: 200px;
}
.slickgrid-container .slick-header-menu .textfilter > label {
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}
.slickgrid-container .slick-header-menu .textfilter > input[type=text] {
  width: 70%;
}
.slickgrid-container label {
  display: block;
  margin-bottom: 5px;
}
.slickgrid-container .slick-header-menuitem {
  border: 1px solid transparent;
  padding: 2px 4px;
  cursor: pointer;
  list-style: none outside none;
  margin: 0;
}
.slickgrid-container .slick-header-menuicon {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  width: 16px;
}
.slickgrid-container .slick-header-menucontent {
  display: inline-block;
  vertical-align: middle;
}
.slickgrid-container .slick-header-menuitem:hover {
  border-color: #BFBDBD;
}
.slickgrid-container .header-overlay,
.slickgrid-container .cell-overlay,
.slickgrid-container .selection-cell-overlay {
  display: block;
  position: absolute;
  z-index: 999;
}
.slickgrid-container .slick-cell > .editor-select {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  top: 0;
  bottom: 0;
  max-width: 100%;
  min-width: 0;
  margin: 0;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22slick-default-theme.less%22%2C%22slick.less.macros.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22%3B%3B%3B%3B%3B%3BAAaA%2CoBAEC%3BAAFD%2CoBAEwB%3BEACrB%2CgBAAgB%2CsDAAhB%3B%3BAAHH%2CoBAOC%3BEACE%2C%2BBAAA%3B%3BAARH%2CoBAWC%3BEACE%2C8BAAA%3B%3BAAZH%2CoBAeC%2CqBAAoB%3BAAfrB%2CoBAe6B%3BEAC1B%2CwBAAsB%2C2DAAtB%3B%3BAAhBH%2CoBAmBC%3BEACE%2CmBAAA%3B%3BAApBH%2CoBAuBC%3BEACE%2CmBAAA%3BEACA%2CgBAAA%3BEACA%2CYAAA%3B%3BAA1BH%2CoBA6BC%3BEACE%2CkBAAA%3BEACA%2CiBAAA%3BEACA%2CSAAA%3BEACA%2CiBAAA%3B%3BAAjCH%2CoBA6BC%2CWAME%3BEACE%2CiBAAA%3B%3BAAGF%2CoBAVF%2CWAUG%3BEACC%2CWAAA%3B%3BAADF%2CoBAVF%2CWAUG%2CSAGC%3BEACE%2CmBAAA%3B%3BAAIF%2CoBAlBJ%2CWAkBK%2CgBAAiB%3BEAClB%2CmBAAA%3B%3BAAhDL%2CoBAoDC%3BEACE%2CiBAAA%3BEACA%2CkBAAA%3B%3BAAtDH%2CoBAyDC%3BEACE%2C%2BBAAA%3B%3BAA1DH%2CoBA6DC%3BEACE%2CUAAA%3BEACA%2CWAAA%3BEACA%2CiBAAA%3B%3BAAhEH%2CoBAmEC%2CoBAAmB%3BEACjB%2CgBAAgB%2C8CAAhB%3B%3BAApEH%2CoBAuEC%2CoBAAmB%3BEACjB%2CgBAAgB%2C4CAAhB%3B%3BAAxEH%2CoBA2EC%3BEACE%2CWAAA%3BEACA%2CiBAAA%3B%3BAA7EH%2CoBAgFC%3BEACE%2C6BAAA%3B%3BAAjFH%2CoBAoFC%2CYAAW%3BEACT%2CuBAAA%3B%3BAArFH%2CoBAwFC%2CWAAU%2CIAAK%2CYAAW%3BEACxB%2CyBAAA%3B%3BAAzFH%2CoBA4FC%2CYAAW%3BEACT%2CkBAAA%3BEACA%2CmBAAA%3B%3BAA9FH%2CoBAiGC%2CWAAU%2CIAAK%3BEACb%2CmBAAA%3B%3BAAlGH%2CoBAqGC%2CWAAU%3BEACR%2CmBAAA%3B%3BAAtGH%2CoBAyGC%2CWAAU%3BEC%2FGT%2CYAAA%3BEACA%2C2BAAA%3B%3BADKF%2CoBA6GC%2CYAAW%3BEACT%2CiBAAA%3BEACA%2C6BAAA%3BEACA%2CgCAAA%3BEACA%2C6CAAA%3BEACA%2CgDAAA%3B%3BAAGF%3BEACE%3BIACC%2CuBAAA%3B%3BEAED%3BIACC%2CgBAAA%3B%3B%3BAAIH%3BEACE%3BIACC%2CuBAAA%3B%3BEAED%3BIACC%2CgBAAA%3B%3B%3BAAnIJ%2CoBA8IC%3BEAEI%2CkCAAA%3BEACA%2C4BAAA%3BEACA%2C8BAAA%3BEACA%2CSAAA%3BEACA%2CeAAA%3BEACA%2CqBAAA%3BEACA%2CkBAAA%3BEACA%2CQAAA%3BEACA%2CMAAA%3BEACA%2CWAAA%3B%3BAAzJL%2CoBA4JC%3BEAEI%2CwCAAA%3BEACA%2CyBAAA%3BEACA%2CgBAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3BEACA%2CeAAA%3BEACA%2CqBAAA%3BEACA%2CSAAA%3BEACA%2CkBAAA%3B%3BAAtKL%2CoBA4JC%2CmBAYC%3BEAEI%2CyBAAA%3BEACA%2CuBAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CqBAAA%3B%3BAA9KN%2CoBA4JC%2CmBAqBC%3BEAEI%2CyBAAA%3BEACA%2CcAAA%3BEACA%2CaAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CYAAA%3BEACA%2CmBAAA%3BEACA%2CYAAA%3B%3BAAKH%2CoBAnCF%2CmBAiCC%2CYAEG%3BEAED%2CqBAAA%3BEACA%2CgBAAA%3BEACA%2CkBAAA%3B%3BAAGD%2CoBA1CF%2CmBAiCC%2CYASG%2CQAAO%3BEAER%2CUAAA%3B%3BAAxMJ%2CoBA6MC%3BEAEI%2CcAAA%3BEACA%2CkBAAA%3B%3BAAhNL%2CoBAmNC%3BEAEI%2C6BAAA%3BEACA%2CgBAAA%3BEACA%2CeAAA%3BEACA%2C6BAAA%3BEACA%2CSAAA%3B%3BAAzNL%2CoBA4NC%3BEAEI%2CkCAAA%3BEACA%2C4BAAA%3BEACA%2CqBAAA%3BEACA%2CYAAA%3BEACA%2CiBAAA%3BEACA%2CsBAAA%3BEACA%2CWAAA%3B%3BAApOL%2CoBAuOC%3BEAEI%2CqBAAA%3BEACA%2CsBAAA%3B%3BAA1OL%2CoBA6OC%2CuBAAsB%3BEAElB%2CqBAAA%3B%3BAA%2FOL%2CoBAkPC%3BAAlPD%2CoBAkPkB%3BAAlPlB%2CoBAkPiC%3BEAE5B%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CYAAA%3B%3BAAtPL%2CoBAyPC%2CYAAY%3BEACV%2CkBAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CWAAA%3BEACA%2CMAAA%3BEACA%2CSAAA%3BEACA%2CeAAA%3BEACA%2CYAAA%3BEACA%2CSAAA%22%2C%22sourcesContent%22%3A%5B%22%2F*%5Cn%20*%20IMPORTANT%3A%5Cn%20*%20In%20order%20to%20preserve%20the%20uniform%20grid%20appearance%2C%20all%20cell%20styles%20need%20to%20have%20padding%2C%20margin%20and%20border%20sizes.%5Cn%20*%20No%20built-in%20(selected%2C%20editable%2C%20highlight%2C%20flashing%2C%20invalid%2C%20loading%2C%20%3Afocus)%20or%20user-specified%20CSS%5Cn%20*%20classes%20should%20alter%20those!%5Cn%20*%2F%5Cn%5Cn%40import%20(less)%20%5C%22slick.config.less%5C%22%3B%5Cn%40import%20(less)%20%5C%22slick.config.default-theme.less%5C%22%3B%5Cn%5Cn%40import%20(less)%20%5C%22slick.less.macros.less%5C%22%3B%5Cn%5Cn%5Cn.slickgrid-container%5Cn%7B%5Cn%5Ct.slick-header-columns%2C%20.slick-header-column%20%7B%5Cn%5Ct%20%20background%3A%20url('images%2Fheader-columns-bg.gif')%20repeat-x%20center%20bottom%3B%5Cn%5Ct%20%20%2F%2F%20background-color%3A%20%23EBECEE%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-header-columns%20%7B%5Cn%5Ct%20%20border-bottom%3A%201px%20solid%20silver%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-header-column%20%7B%5Cn%5Ct%20%20border-right%3A%201px%20solid%20silver%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-header-column%3Ahover%2C%20.slick-header-column-active%20%7B%5Cn%5Ct%20%20background%3A%20white%20url('images%2Fheader-columns-over-bg.gif')%20repeat-x%20center%20bottom%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-headerrow%20%7B%5Cn%5Ct%20%20background%3A%20%23fafafa%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-headerrow-column%20%7B%5Cn%5Ct%20%20background%3A%20%23fafafa%3B%5Cn%5Ct%20%20border-bottom%3A%200%3B%5Cn%5Ct%20%20height%3A%20100%25%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-row%20%7B%5Cn%5Ct%20%20position%3A%20absolute%3B%5Cn%5Ct%20%20background%3A%20white%3B%5Cn%5Ct%20%20border%3A%200%3B%5Cn%5Ct%20%20line-height%3A%2020px%3B%5Cn%5Cn%5Ct%20%20.slick-cell%20%7B%5Cn%5Ct%20%20%20%20background%3A%20white%3B%5Cn%5Ct%20%20%7D%5Cn%5Cn%5Ct%20%20%26.selected%20%7B%5Cn%5Ct%20%20%20%20z-index%3A%2010%3B%5Cn%5Cn%5Ct%20%20%20%20.slick-cell%20%7B%5Cn%5Ct%20%20%20%20%20%20background%3A%20%23DFE8F6%3B%5Cn%5Ct%20%20%20%20%7D%5Cn%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%5Ct%20%20%26.ui-state-active%20.slick-cell%20%7B%5Cn%5Ct%20%20%20%20background%3A%20%23F5F7D7%3B%5Cn%5Ct%20%20%7D%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-cell%20%7B%5Cn%5Ct%20%20padding-left%3A%204px%3B%5Cn%5Ct%20%20padding-right%3A%204px%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-group%20%7B%5Cn%5Ct%20%20border-bottom%3A%202px%20solid%20silver%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-group-toggle%20%7B%5Cn%5Ct%20%20width%3A%209px%3B%5Cn%5Ct%20%20height%3A%209px%3B%5Cn%5Ct%20%20margin-right%3A%205px%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-group-toggle.expanded%20%7B%5Cn%5Ct%20%20background%3A%20url('images%2Fcollapse.gif')%20no-repeat%20center%20center%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-group-toggle.collapsed%20%7B%5Cn%5Ct%20%20background%3A%20url('images%2Fexpand.gif')%20no-repeat%20center%20center%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-group-totals%20%7B%5Cn%5Ct%20%20color%3A%20gray%3B%5Cn%5Ct%20%20background%3A%20white%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-sortable-placeholder%20%7B%5Cn%5Ct%20%20background%3A%20silver%20!important%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-cell.selected%20%7B%5Cn%5Ct%20%20background-color%3A%20beige%3B%5Cn%5Ct%7D%5Cn%5Ct%2F%2F%20make%20sure%20we%20override%20the%20regular%20background%20color%3A%20%5Cn%5Ct.slick-row.odd%20.slick-cell.selected%20%7B%5Cn%5Ct%20%20background-color%3A%20rgb(231%2C%20231%2C%20195)%3B%20%20%2F%2F%20beige%20%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-cell.active%20%7B%5Cn%5Ct%20%20border-color%3A%20gray%3B%5Cn%5Ct%20%20border-style%3A%20solid%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-row.odd%20.slick-cell%20%7B%5Cn%5Ct%20%20background%3A%20%23fafafa%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-row.ui-state-active%20%7B%5Cn%5Ct%20%20background%3A%20%23F5F7D7%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-row.loading%20%7B%5Cn%5Ct%20%20.opacity(0.5)%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-cell.invalid%20%7B%5Cn%5Ct%20%20border-color%3A%20red%3B%5Cn%5Ct%20%20-moz-animation-duration%3A%200.2s%3B%5Cn%5Ct%20%20-webkit-animation-duration%3A%200.2s%3B%5Cn%5Ct%20%20-moz-animation-name%3A%20slickgrid-invalid-hilite%3B%5Cn%5Ct%20%20-webkit-animation-name%3A%20slickgrid-invalid-hilite%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct%40-moz-keyframes%20slickgrid-invalid-hilite%20%7B%5Cn%5Ct%20%20from%20%7B%20%5Cn%5Ct%20%20%5Ctbox-shadow%3A%200%200%206px%20red%3B%20%5Cn%5Ct%20%20%7D%5Cn%5Ct%20%20to%20%7B%20%5Cn%5Ct%20%20%5Ctbox-shadow%3A%20none%3B%20%5Cn%5Ct%20%20%7D%5Cn%5Ct%7D%5Cn%5Cn%5Ct%40-webkit-keyframes%20slickgrid-invalid-hilite%20%7B%5Cn%5Ct%20%20from%20%7B%20%5Cn%5Ct%20%20%5Ctbox-shadow%3A%200%200%206px%20red%3B%20%5Cn%5Ct%20%20%7D%5Cn%5Ct%20%20to%20%7B%20%5Cn%5Ct%20%20%5Ctbox-shadow%3A%20none%3B%20%5Cn%5Ct%20%20%7D%5Cn%5Ct%7D%5Cn%5Cn%5Cn%5Cn%5Cn%5Ct%2F%2F%20----------------------------------------------%5Cn%5Ct%2F%2F%20Excel-like%20header%20%5Cn%5Ct%2F%2F%20----------------------------------------------%5Cn%5Cn%5Ct.slick-header-menubutton%5Cn%5Ct%7B%5Cn%5Ct%20%20%20%20background-position%3A%20center%20center%3B%5Cn%5Ct%20%20%20%20background-repeat%3A%20no-repeat%3B%5Cn%5Ct%20%20%20%20border-left%3A%20thin%20ridge%20silver%3B%5Cn%5Ct%20%20%20%20bottom%3A%200%3B%5Cn%5Ct%20%20%20%20cursor%3A%20pointer%3B%5Cn%5Ct%20%20%20%20display%3A%20inline-block%3B%5Cn%5Ct%20%20%20%20position%3A%20absolute%3B%5Cn%5Ct%20%20%20%20right%3A%200%3B%5Cn%5Ct%20%20%20%20top%3A%200%3B%5Cn%5Ct%20%20%20%20width%3A%2018px%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-header-menu%5Cn%5Ct%7B%5Cn%5Ct%20%20%20%20background%3A%20none%20repeat%20scroll%200%200%20white%3B%5Cn%5Ct%20%20%20%20border%3A%201px%20solid%20%23BFBDBD%3B%5Cn%5Ct%20%20%20%20min-width%3A%20175px%3B%5Cn%5Ct%20%20%20%20padding%3A%204px%3B%5Cn%5Ct%20%20%20%20z-index%3A%20100000%3B%5Cn%5Ct%20%20%20%20cursor%3A%20default%3B%5Cn%5Ct%20%20%20%20display%3A%20inline-block%3B%5Cn%5Ct%20%20%20%20margin%3A%200%3B%5Cn%5Ct%20%20%20%20position%3A%20absolute%3B%5Cn%5Cn%5Ct%5Ctbutton%5Cn%5Ct%5Ct%7B%5Cn%5Ct%5Ct%20%20%20%20border%3A%201px%20solid%20%23BFBDBD%3B%5Cn%5Ct%5Ct%20%20%20%20background-color%3A%20white%3B%5Cn%5Ct%5Ct%20%20%20%20width%3A%2045px%3B%5Cn%5Ct%5Ct%20%20%20%20padding%3A%204px%3B%5Cn%5Ct%5Ct%20%20%20%20margin%3A%204px%204px%204px%200%3B%5Cn%5Ct%5Ct%7D%5Cn%5Cn%5Ct%5Ct.filter%5Cn%5Ct%5Ct%7B%5Cn%5Ct%5Ct%20%20%20%20border%3A%201px%20solid%20%23BFBDBD%3B%5Cn%5Ct%5Ct%20%20%20%20font-size%3A%208pt%3B%5Cn%5Ct%5Ct%20%20%20%20height%3A%20400px%3B%5Cn%5Ct%5Ct%20%20%20%20margin-top%3A%206px%3B%5Cn%5Ct%5Ct%20%20%20%20overflow%3A%20scroll%3B%5Cn%5Ct%5Ct%20%20%20%20padding%3A%204px%3B%5Cn%5Ct%5Ct%20%20%20%20white-space%3A%20nowrap%3B%5Cn%5Ct%5Ct%20%20%20%20width%3A%20200px%3B%5Cn%5Ct%5Ct%7D%5Cn%5Cn%5Ct%5Ct.textfilter%20%5Cn%5Ct%5Ct%7B%5Cn%5Ct%5Ct%5Ct%26%20%3E%20label%5Cn%5Ct%5Ct%5Ct%7B%5Cn%5Ct%5Ct%5Ct%5Ctdisplay%3A%20inline-block%3B%5Cn%5Ct%5Ct%5Ct%5Ctmargin-left%3A%205px%3B%5Cn%5Ct%5Ct%5Ct%5Ctmargin-right%3A%2010px%3B%5Cn%5Ct%5Ct%5Ct%7D%5Cn%5Cn%5Ct%5Ct%5Ct%26%20%3E%20input%5Btype%3Dtext%5D%5Cn%5Ct%5Ct%5Ct%7B%5Cn%5Ct%5Ct%5Ct%5Ctwidth%3A%2070%25%3B%5Cn%5Ct%5Ct%5Ct%7D%5Cn%5Ct%5Ct%7D%5Cn%5Ct%7D%5Cn%5Cn%5Ctlabel%5Cn%5Ct%7B%5Cn%5Ct%20%20%20%20display%3A%20block%3B%5Cn%5Ct%20%20%20%20margin-bottom%3A%205px%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-header-menuitem%5Cn%5Ct%7B%5Cn%5Ct%20%20%20%20border%3A%201px%20solid%20transparent%3B%5Cn%5Ct%20%20%20%20padding%3A%202px%204px%3B%5Cn%5Ct%20%20%20%20cursor%3A%20pointer%3B%5Cn%5Ct%20%20%20%20list-style%3A%20none%20outside%20none%3B%5Cn%5Ct%20%20%20%20margin%3A%200%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-header-menuicon%5Cn%5Ct%7B%5Cn%5Ct%20%20%20%20background-position%3A%20center%20center%3B%5Cn%5Ct%20%20%20%20background-repeat%3A%20no-repeat%3B%5Cn%5Ct%20%20%20%20display%3A%20inline-block%3B%5Cn%5Ct%20%20%20%20height%3A%2016px%3B%5Cn%5Ct%20%20%20%20margin-right%3A%204px%3B%5Cn%5Ct%20%20%20%20vertical-align%3A%20middle%3B%5Cn%5Ct%20%20%20%20width%3A%2016px%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-header-menucontent%5Cn%5Ct%7B%5Cn%5Ct%20%20%20%20display%3A%20inline-block%3B%5Cn%5Ct%20%20%20%20vertical-align%3A%20middle%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-header-menuitem%3Ahover%5Cn%5Ct%7B%5Cn%5Ct%20%20%20%20border-color%3A%20%23BFBDBD%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.header-overlay%2C%20.cell-overlay%2C%20.selection-cell-overlay%5Cn%5Ct%7B%5Cn%5Ct%20%20%20%20display%3A%20block%3B%5Cn%5Ct%20%20%20%20position%3A%20absolute%3B%5Cn%5Ct%20%20%20%20z-index%3A%20999%3B%5Cn%5Ct%7D%5Cn%5Cn%5Ct.slick-cell%20%3E%20.editor-select%20%7B%5Cn%5Ct%20%20position%3A%20absolute%3B%5Cn%5Ct%20%20left%3A%200%3B%5Cn%5Ct%20%20right%3A%200%3B%5Cn%5Ct%20%20width%3A%20auto%3B%5Cn%5Ct%20%20top%3A%200%3B%5Cn%5Ct%20%20bottom%3A%200%3B%5Cn%5Ct%20%20max-width%3A%20100%25%3B%5Cn%5Ct%20%20min-width%3A%200%3B%5Cn%5Ct%20%20margin%3A%200%3B%5Cn%5Ct%7D%5Cn%7D%5Cn%5Cn%5Cn%22%2C%22%5Cn%2F%2F%5Cn%2F%2F%20LESS%20mixins%20for%20slickgrid%5Cn%2F%2F%5Cn%5Cn.opacity(%40opacity)%20%5Cn%7B%5Cn%20%20opacity%3A%20%40opacity%3B%5Cn%20%20filter%3A%20~%60%5C%22alpha(opacity%20%3D%20%5C%22%20%2B%20%40%7Bopacity%7D%20*%20100%20%2B%20%5C%22)%5C%22%60%3B%5Cn%7D%5Cn%5Cn%5Cn%2F%2F%5Cn%2F%2F%20Taken%20from%20%5Cn%2F%2F%20%20%20https%3A%2F%2Fgithub.com%2Fless%2Fless.js%2Fissues%2F1199%20%5Cn%2F%2F%20%20%20https%3A%2F%2Fgithub.com%2Fless%2Fless.js%2Fissues%2F36%5Cn%2F%2F%20and%20reworked%20as%20an%20alternative%20answer%20to%5Cn%2F%2F%20%20%20http%3A%2F%2Fstackoverflow.com%2Fquestions%2F18558368%2Fis-there-a-generic-way-to-add-vendor-prefixes-in-less%5Cn%2F%2F%5Cn%40prefix-moz%3A%20true%3B%5Cn%40prefix-opera%3A%20true%3B%5Cn%40prefix-webkit%3A%20true%3B%5Cn%5Cn.moz-prefix(%40prop%2C%20%40value)%20when%20(%40prefix-moz)%20%5Cn%7B%5Cn%20%20-moz-%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn.opera-prefix(%40prop%2C%20%40value)%20when%20(%40prefix-opera)%20%5Cn%7B%5Cn%20%20-o-%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn.webkit-prefix(%40prop%2C%20%40value)%20when%20(%40prefix-webkit)%20%5Cn%7B%5Cn%20%20-webkit-%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn.prefixer(%40prop%2C%20%40value)%20%5Cn%7B%5Cn%20%20.webkit-prefix(%40prop%2C%20%40value)%3B%5Cn%20%20.opera-prefix(%40prop%2C%20%40value)%3B%5Cn%20%20.moz-prefix(%40prop%2C%20%40value)%3B%5Cn%20%20%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn%2F%2F%20Usage%20example%3A%5Cn%2F%2F%20%20%20.box%20%7B%5Cn%2F%2F%20%20%20%20%20.prefixer(border-radius%2C%2010px)%3B%5Cn%2F%2F%20%20%20%7D%5Cn%5Cn%5Cn%5Cn%5Cn%5Cn.transition(%40value)%5Cn%7B%5Cn%20%20%20%20.prefixer(transition%2C%20%20%20%40value)%3B%5Cn%7D%5Cn%5Cn.text-overflow(%40value)%5Cn%7B%5Cn%20%20.opera-prefix(text-overflow%2C%20%40value)%3B%5Cn%20%20text-overflow%3A%20%40value%3B%5Cn%7D%22%5D%7D */