.slickgrid-container .slick-header-columns,
.slickgrid-container .slick-header-column {
  background: url('images/header-columns-bg.gif') repeat-x center bottom;
}
.slickgrid-container .slick-header-column {
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
}
.slickgrid-container .slick-header-column:hover,
.slickgrid-container .slick-header-column-active {
  background: #ffffff url('images/header-columns-over-bg.gif') repeat-x center bottom;
}
.slickgrid-container .slick-headerrow {
  background: #fafafa;
}
.slickgrid-container .slick-headerrow-column {
  background: #fafafa;
  border-bottom: 0;
}
.slickgrid-container .grid-canvas {
  background: white;
}
.slickgrid-container .slick-row {
  background: white;
  border: 0;
  line-height: 20px;
}
.slickgrid-container .slick-row .slick-cell {
  background: white;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.slickgrid-container .slick-row .slick-cell.invalid {
  border-color: red;
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-name: slickgrid-invalid-hilite;
  -webkit-animation-name: slickgrid-invalid-hilite;
}
.slickgrid-container .slick-row .slick-cell.selected {
  background: #DFE8F6;
}
.slickgrid-container .slick-row .slick-cell.active {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  padding-top: 2px;
  padding-left: 3px;
}
.slickgrid-container .slick-row.odd .slick-cell {
  background: #fafafa;
}
.slickgrid-container .slick-row.odd .slick-cell.selected {
  background-color: #e7e7c3;
}
.slickgrid-container .slick-row.active-row .slick-cell {
  background-color: #e2fffd;
}
.slickgrid-container .slick-row.active-row .slick-cell.selected {
  background-color: red;
}
.slickgrid-container .slick-row.active-row.odd .slick-cell {
  background-color: #e2fffd;
}
.slickgrid-container .slick-row.active-row.odd .slick-cell.selected {
  background-color: green;
}
.slickgrid-container .slick-row.loading {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
.slickgrid-container .slick-group {
  border-bottom: 2px solid silver;
}
.slickgrid-container .slick-group-toggle {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}
.slickgrid-container .slick-group-toggle.expanded {
  background: url('images/collapse.gif') no-repeat center center;
}
.slickgrid-container .slick-group-toggle.collapsed {
  background: url('images/expand.gif') no-repeat center center;
}
.slickgrid-container .slick-group-totals {
  color: gray;
  background: white;
}
.slickgrid-container .slick-sortable-placeholder {
  background: silver !important;
}
@-moz-keyframes slickgrid-invalid-hilite {
  from {
    box-shadow: 0 0 6px red;
  }
  to {
    box-shadow: none;
  }
}
@-webkit-keyframes slickgrid-invalid-hilite {
  from {
    box-shadow: 0 0 6px red;
  }
  to {
    box-shadow: none;
  }
}
.slickgrid-container .slick-header-menubutton {
  background-position: center center;
  background-repeat: no-repeat;
  border-left: thin ridge silver;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}
.slickgrid-container .slick-header-menu {
  background: none repeat scroll 0 0 white;
  border: 1px solid #BFBDBD;
  min-width: 175px;
  padding: 4px;
  z-index: 100000;
  cursor: default;
  display: inline-block;
  margin: 0;
  position: absolute;
}
.slickgrid-container .slick-header-menu button {
  border: 1px solid #BFBDBD;
  background-color: white;
  width: 45px;
  padding: 4px;
  margin: 4px 4px 4px 0;
}
.slickgrid-container .slick-header-menu .filter {
  border: 1px solid #BFBDBD;
  font-size: 8pt;
  height: 400px;
  margin-top: 6px;
  overflow: scroll;
  padding: 4px;
  white-space: nowrap;
  width: 200px;
}
.slickgrid-container .slick-header-menu .textfilter > label {
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}
.slickgrid-container .slick-header-menu .textfilter > input[type=text] {
  width: 70%;
}
.slickgrid-container label {
  display: block;
  margin-bottom: 5px;
}
.slickgrid-container .slick-header-menuitem {
  border: 1px solid transparent;
  padding: 2px 4px;
  cursor: pointer;
  list-style: none outside none;
  margin: 0;
}
.slickgrid-container .slick-header-menuicon {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  width: 16px;
}
.slickgrid-container .slick-header-menucontent {
  display: inline-block;
  vertical-align: middle;
}
.slickgrid-container .slick-header-menuitem:hover {
  border-color: #BFBDBD;
}
.slickgrid-container .header-overlay,
.slickgrid-container .cell-overlay,
.slickgrid-container .selection-cell-overlay {
  display: block;
  position: absolute;
  z-index: 999;
}
.slickgrid-container .slick-cell > .editor-select {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  top: 0;
  bottom: 0;
  max-width: 100%;
  min-width: 0;
  margin: 0;
}
* {
  font-family: arial;
  font-size: 8pt;
}
pre {
  font-family: Consolas, monospace;
}
body {
  background: beige;
  padding: 0;
  margin: 8px;
  /* 
    prevent the user from accidentally selecting a chunk of text in the grid:
    we provide that functionality via select range + copy/paste 
    while it makes usage of the grid on mouse+touch devices dissatisfactory
    (Windows 8.1 + touchscreen laptop hardware, e.g. ASUS N550JV series)
   */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2 {
  font-size: 10pt;
  border-bottom: 1px dotted gray;
}
ul {
  margin-left: 0;
  padding: 0;
  cursor: default;
}
li {
  background: url("../images/arrow_right_spearmint.png") no-repeat center left;
  padding: 0 0 0 14px;
  list-style: none;
  margin: 0;
}
.grid-outer-wrapper {
  width: 602px;
  float: left;
  background-color: white;
  border: 1px solid #CCCCCC;
  padding: 1px;
}
.grid-inner-wrapper {
  background: white;
  outline: 0;
  min-height: 450px;
}
.grid-header {
  border-bottom: 0;
  border-top: 0;
  background: url('../images/header-bg.gif') repeat-x center top;
  color: black;
  height: 24px;
  line-height: 24px;
}
.grid-header label {
  display: inline-block;
  font-weight: bold;
  margin: auto auto auto 6px;
}
.grid-header .ui-icon {
  margin: 4px 4px auto 6px;
  background-color: transparent;
  border-color: transparent;
}
.grid-header .ui-icon.ui-state-hover {
  background-color: white;
}
.grid-header #txtSearch {
  margin: 0 4px 0 4px;
  padding: 2px 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid silver;
}
.options-panel {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid silver;
  background: #f0f0f0;
  margin-bottom: 20px;
  float: left;
  margin-left: 10px;
  padding: 10px;
  max-width: 260px;
}
#viewsource {
  cursor: pointer;
  color: darkblue;
}
.diagnostics-panel {
  clear: both;
  min-width: 600px;
  padding: 10px 0 0 0;
  margin: 0;
}
.diagnostics-view {
  min-width: 600px;
  margin-top: 20px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid silver;
  background: #f0f0f0;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 10px;
}
#debug-output {
  white-space: pre-wrap;
  background: white;
  outline: 0;
  border: 1px solid gray;
  min-height: 100px;
}
.slick-cell.task-name {
  font-weight: bold;
  text-align: right;
}
.slick-cell.task-percent {
  text-align: right;
}
.slick-cell.cell-move-handle {
  font-weight: bold;
  text-align: right;
  border-right: solid gray;
  background: #efefef;
  cursor: move;
}
.cell-move-handle:hover {
  background: #b6b9bd;
}
.slick-row.selected .cell-move-handle {
  background: #D5DC8D;
}
.slick-row .cell-actions {
  text-align: left;
}
.slick-row.complete {
  background-color: #DFD;
  color: #555;
}
.percent-complete-bar {
  display: inline-block;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#displaycode {
  display: none;
}
#displaycode pre {
  font-size: normal;
  background-color: #ffffff;
  overflow: scroll;
  height: 500px;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22slick-default-theme.less%22%2C%22slick.less.macros.less%22%2C%22examples%2Fexamples.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAwBA%2CoBAEE%3BAAFF%2CoBAGE%3BEACE%2CgBAAgB%2CsDAAhB%3B%3BAAJJ%2CoBAQE%3BEACE%2C8BAAA%3BEACA%2C%2BBAAA%3B%3BAAVJ%2CoBAaE%2CqBAAoB%3BAAbtB%2CoBAcE%3BEACE%2CwBAAsB%2C2DAAtB%3B%3BAAfJ%2CoBAkBE%3BEACE%2CmBAAA%3B%3BAAnBJ%2CoBAsBE%3BEACE%2CmBAAA%3BEACA%2CgBAAA%3B%3BAAxBJ%2CoBA2BE%3BEACE%2CiBAAA%3B%3BAA5BJ%2CoBA%2BBE%3BEACE%2CiBAAA%3BEACA%2CSAAA%3BEACA%2CiBAAA%3B%3BAAlCJ%2CoBA%2BBE%2CWAKE%3BEACE%2CiBAAA%3BEAEA%2CgBAAA%3BEACA%2CmBAAA%3BEACA%2CiBAAA%3BEACA%2CkBAAA%3B%3BAAEA%2CoBAbJ%2CWAKE%2CYAQG%3BEACC%2CiBAAA%3BEACA%2C6BAAA%3BEACA%2CgCAAA%3BEACA%2C6CAAA%3BEACA%2CgDAAA%3B%3BAAGF%2CoBArBJ%2CWAKE%2CYAgBG%3BEACC%2CmBAAA%3B%3BAAGF%2CoBAzBJ%2CWAKE%2CYAoBG%3BEACC%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CiBAAA%3BEAGA%2CgBAAA%3BEACA%2CiBAAA%3B%3BAAIJ%2CoBApCF%2CWAoCG%2CIAAK%3BEACJ%2CmBAAA%3B%3BAAGA%2CoBAxCJ%2CWAoCG%2CIAAK%2CYAIH%3BEACC%2CyBAAA%3B%3BAAIJ%2CoBA7CF%2CWA6CG%2CWAAY%3BEACX%2CyBAAA%3B%3BAAGA%2CoBAjDJ%2CWA6CG%2CWAAY%2CYAIV%3BEACC%2CqBAAA%3B%3BAAIJ%2CoBAtDF%2CWAsDG%2CWAAW%2CIAAK%3BEACf%2CyBAAA%3B%3BAAGA%2CoBA1DJ%2CWAsDG%2CWAAW%2CIAAK%2CYAId%3BEACC%2CuBAAA%3B%3BAAIJ%2CoBA%2FDF%2CWA%2BDG%3BECrGH%2CYAAA%3BEAGA%2C2BAAA%3B%3BADIF%2CoBAmGE%3BEACE%2C%2BBAAA%3B%3BAApGJ%2CoBAuGE%3BEACE%2CUAAA%3BEACA%2CWAAA%3BEACA%2CiBAAA%3B%3BAAEA%2CoBALF%2CoBAKG%3BEACC%2CgBAAgB%2C8CAAhB%3B%3BAAGF%2CoBATF%2CoBASG%3BEACC%2CgBAAgB%2C4CAAhB%3B%3BAAjHN%2CoBAqHE%3BEACE%2CWAAA%3BEACA%2CiBAAA%3B%3BAAvHJ%2CoBA0HE%3BEACE%2C6BAAA%3B%3BAAGF%3BEACE%3BIACE%2CuBAAA%3B%3BEAEF%3BIACE%2CgBAAA%3B%3B%3BAAIJ%3BEACE%3BIACE%2CuBAAA%3B%3BEAEF%3BIACE%2CgBAAA%3B%3B%3BAA5IN%2CoBAuJE%3BEAEE%2CkCAAA%3BEACA%2C4BAAA%3BEACA%2C8BAAA%3BEACA%2CeAAA%3BEACA%2CqBAAA%3BEACA%2CkBAAA%3B%3BAA9JJ%2CoBAuKE%3BEAEE%2CwCAAA%3BEACA%2CyBAAA%3BEACA%2CgBAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3BEACA%2CeAAA%3BEACA%2CqBAAA%3BEACA%2CSAAA%3BEACA%2CkBAAA%3B%3BAAjLJ%2CoBAuKE%2CmBAYE%3BEAEE%2CyBAAA%3BEACA%2CuBAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CqBAAA%3B%3BAAzLN%2CoBAuKE%2CmBAqBE%3BEAEE%2CyBAAA%3BEACA%2CcAAA%3BEACA%2CaAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CYAAA%3BEACA%2CmBAAA%3BEACA%2CYAAA%3B%3BAAKA%2CoBAnCJ%2CmBAiCE%2CYAEI%3BEAEA%2CqBAAA%3BEACA%2CgBAAA%3BEACA%2CkBAAA%3B%3BAAGF%2CoBA1CJ%2CmBAiCE%2CYASI%2CQAAO%3BEAEP%2CUAAA%3B%3BAAnNR%2CoBAwNE%3BEAEE%2CcAAA%3BEACA%2CkBAAA%3B%3BAA3NJ%2CoBA8NE%3BEAEE%2C6BAAA%3BEACA%2CgBAAA%3BEACA%2CeAAA%3BEACA%2C6BAAA%3BEACA%2CSAAA%3B%3BAApOJ%2CoBAuOE%3BEAEE%2CkCAAA%3BEACA%2C4BAAA%3BEACA%2CqBAAA%3BEACA%2CYAAA%3BEACA%2CiBAAA%3BEACA%2CsBAAA%3BEACA%2CWAAA%3B%3BAA%2FOJ%2CoBAkPE%3BEAEE%2CqBAAA%3BEACA%2CsBAAA%3B%3BAArPJ%2CoBAwPE%2CuBAAsB%3BEAEpB%2CqBAAA%3B%3BAA1PJ%2CoBA6PE%3BAA7PF%2CoBA8PE%3BAA9PF%2CoBA%2BPE%3BEAEE%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CYAAA%3B%3BAAnQJ%2CoBAsQE%2CYAAY%3BEACV%2CkBAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CWAAA%3BEACA%2CMAAA%3BEACA%2CSAAA%3BEACA%2CeAAA%3BEACA%2CYAAA%3BEACA%2CSAAA%3B%3BAE%2FRJ%3BEACE%2CkBAAA%3BEACA%2CcAAA%3B%3BAAGF%3BEACE%2CgCAAA%3B%3BAAGF%3BEACE%2CiBAAA%3BEACA%2CUAAA%3BEACA%2CWAAA%3B%3B%3B%3B%3B%3B%3BEAQA%2C2BAAA%3BEACA%2CyBAAA%3BEACA%2CwBAAA%3BEACA%2CsBAAA%3BEACA%2CqBAAA%3BEACA%2CiBAAA%3B%3BAAGF%3BEACE%2CeAAA%3BEACA%2C8BAAA%3B%3BAAGF%3BEACE%2CcAAA%3BEACA%2CUAAA%3BEACA%2CeAAA%3B%3BAAGF%3BEACE%2CgBAAgB%2C4DAAhB%3BEACA%2CmBAAA%3BEAEA%2CgBAAA%3BEACA%2CSAAA%3B%3BAAGF%3BEACE%2CYAAA%3BEACA%2CWAAA%3BEAEA%2CuBAAA%3BEACA%2CyBAAA%3BEACA%2CYAAA%3B%3BAAGF%3BEACE%2CiBAAA%3BEACA%2CUAAA%3BEAIA%2CiBAAA%3B%3BAAQF%3BEAEE%2CgBAAA%3BEACA%2CaAAA%3BEACA%2CgBAAgB%2C8CAAhB%3BEACA%2CYAAA%3BEACA%2CYAAA%3BEACA%2CiBAAA%3B%3BAAIF%2CYAAa%3BEACX%2CqBAAA%3BEACA%2CiBAAA%3BEACA%2C0BAAA%3B%3BAAGF%2CYAAa%3BEACX%2CwBAAA%3BEACA%2C6BAAA%3BEACA%2CyBAAA%3B%3BAAGF%2CYAAa%2CSAAQ%3BEACnB%2CuBAAA%3B%3BAAGF%2CYAAa%3BEACX%2CmBAAA%3BEACA%2CgBAAA%3BEAxGA%2CuBAAA%3BEACA%2C0BAAA%3BEACA%2CkBAAA%3BEAwGA%2CwBAAA%3B%3BAAGF%3BEA7GE%2CuBAAA%3BEACA%2C0BAAA%3BEACA%2CkBAAA%3BEA6GA%2CwBAAA%3BEACA%2CmBAAA%3BEAEA%2CmBAAA%3BEAEA%2CWAAA%3BEACA%2CiBAAA%3BEACA%2CaAAA%3BEAEA%2CgBAAA%3B%3BAAGF%3BEACE%2CeAAA%3BEACA%2CeAAA%3B%3BAAGF%3BEACE%2CWAAA%3BEACA%2CgBAAA%3BEACA%2CmBAAA%3BEACA%2CSAAA%3B%3BAAGF%3BEACE%2CgBAAA%3BEACA%2CgBAAA%3BEAzIA%2CuBAAA%3BEACA%2C0BAAA%3BEACA%2CkBAAA%3BEA0IA%2CwBAAA%3BEACA%2CmBAAA%3BEAEA%2CmBAAA%3BEACA%2CcAAA%3BEACA%2CaAAA%3B%3BAAGF%3BEACE%2CqBAAA%3BEACA%2CiBAAA%3BEACA%2CUAAA%3BEACA%2CsBAAA%3BEACA%2CiBAAA%3B%3BAAIF%2CWAAW%3BEACT%2CiBAAA%3BEACA%2CiBAAA%3B%3BAAGF%2CWAAW%3BEACT%2CiBAAA%3B%3BAAGF%2CWAAW%3BEACT%2CiBAAA%3BEACA%2CiBAAA%3BEACA%2CwBAAA%3BEAEA%2CmBAAA%3BEACA%2CYAAA%3B%3BAAGF%2CiBAAiB%3BEACf%2CmBAAA%3B%3BAAGF%2CUAAU%2CSAAU%3BEAClB%2CmBAAA%3B%3BAAGF%2CUAAW%3BEACT%2CgBAAA%3B%3BAAGF%2CUAAU%3BEACR%2CsBAAA%3BEACA%2CWAAA%3B%3BAAGF%3BEACE%2CqBAAA%3BEACA%2CWAAA%3BEAlMA%2CuBAAA%3BEACA%2C0BAAA%3BEACA%2CkBAAA%3B%3BAAqMF%3BEACI%2CaAAA%3B%3BAAIJ%2CYAAa%3BEACX%2CiBAAA%3BEACA%2CyBAAA%3BEACA%2CgBAAA%3BEACA%2CaAAA%22%2C%22sourcesContent%22%3A%5B%22%2F%2F!%5Cn%2F%2F%20%40license%5Cn%2F%2F%20slickGrid%20v2.3.18-alpha.1011%20(https%3A%2F%2Fgithub.com%2FGerHobbelt%2FSlickGrid)%5Cn%2F%2F%20Copyright%202009-2015%20Michael%20Leibman%20%3Cmichael%7Bdot%7Dleibman%7Bat%7Dgmail%7Bdot%7Dcom%3E%5Cn%2F%2F%5Cn%2F%2F%20Distributed%20under%20MIT%20license.%5Cn%2F%2F%20All%20rights%20reserved.%5Cn%2F%2F%2F%5Cn%5Cn%5Cn%5Cn%2F%2F%2F%5Cn%2F%2F%20IMPORTANT%3A%5Cn%2F%2F%20In%20order%20to%20preserve%20the%20uniform%20grid%20appearance%2C%20all%20cell%20styles%20need%20to%20have%20padding%2C%20margin%20and%20border%20sizes.%5Cn%2F%2F%20No%20built-in%20(selected%2C%20editable%2C%20highlight%2C%20flashing%2C%20invalid%2C%20loading%2C%20%3Afocus)%20or%20user-specified%20CSS%5Cn%2F%2F%20classes%20should%20alter%20those!%5Cn%2F%2F%2F%5Cn%5Cn%40import%20(less)%20%5C%22slick.config.less%5C%22%3B%5Cn%40import%20(less)%20%5C%22slick.config.default-theme.less%5C%22%3B%5Cn%5Cn%40import%20(less)%20%5C%22slick.less.macros.less%5C%22%3B%5Cn%5Cn%5Cn.slickgrid-container%20%5Cn%7B%5Cn%20%20.slick-header-columns%2C%20%5Cn%20%20.slick-header-column%20%7B%5Cn%20%20%20%20background%3A%20url('images%2Fheader-columns-bg.gif')%20repeat-x%20center%20bottom%3B%5Cn%20%20%20%20%2F%2F%20background-color%3A%20%23EBECEE%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-header-column%20%7B%5Cn%20%20%20%20border-right%3A%201px%20solid%20silver%3B%5Cn%20%20%20%20border-bottom%3A%201px%20solid%20silver%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-header-column%3Ahover%2C%20%5Cn%20%20.slick-header-column-active%20%7B%5Cn%20%20%20%20background%3A%20white%20url('images%2Fheader-columns-over-bg.gif')%20repeat-x%20center%20bottom%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-headerrow%20%7B%5Cn%20%20%20%20background%3A%20%23fafafa%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-headerrow-column%20%7B%5Cn%20%20%20%20background%3A%20%23fafafa%3B%5Cn%20%20%20%20border-bottom%3A%200%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.grid-canvas%20%7B%5Cn%20%20%20%20background%3A%20white%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-row%20%7B%5Cn%20%20%20%20background%3A%20white%3B%5Cn%20%20%20%20border%3A%200%3B%5Cn%20%20%20%20line-height%3A%2020px%3B%5Cn%5Cn%20%20%20%20.slick-cell%20%7B%5Cn%20%20%20%20%20%20background%3A%20white%3B%5Cn%5Cn%20%20%20%20%20%20padding-top%3A%203px%3B%5Cn%20%20%20%20%20%20padding-bottom%3A%204px%3B%5Cn%20%20%20%20%20%20padding-left%3A%204px%3B%5Cn%20%20%20%20%20%20padding-right%3A%204px%3B%5Cn%5Cn%20%20%20%20%20%20%26.invalid%20%7B%5Cn%20%20%20%20%20%20%20%20border-color%3A%20red%3B%5Cn%20%20%20%20%20%20%20%20-moz-animation-duration%3A%200.2s%3B%5Cn%20%20%20%20%20%20%20%20-webkit-animation-duration%3A%200.2s%3B%5Cn%20%20%20%20%20%20%20%20-moz-animation-name%3A%20slickgrid-invalid-hilite%3B%5Cn%20%20%20%20%20%20%20%20-webkit-animation-name%3A%20slickgrid-invalid-hilite%3B%5Cn%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%26.selected%20%7B%5Cn%20%20%20%20%20%20%20%20background%3A%20%23DFE8F6%3B%5Cn%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%26.active%20%7B%5Cn%20%20%20%20%20%20%20%20border-color%3A%20gray%3B%5Cn%20%20%20%20%20%20%20%20border-style%3A%20solid%3B%5Cn%20%20%20%20%20%20%20%20border-width%3A%201px%3B%5Cn%5Cn%20%20%20%20%20%20%20%20%2F%2F%20We%20compensate%20for%20the%20all-around%20border%20(now%201px%20at%20top%20and%20left%20too!)%20by%20reducing%20the%20padding%3A%20%5Cn%20%20%20%20%20%20%20%20padding-top%3A%202px%3B%5Cn%20%20%20%20%20%20%20%20padding-left%3A%203px%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%26.odd%20.slick-cell%20%7B%5Cn%20%20%20%20%20%20background%3A%20%23fafafa%3B%5Cn%5Cn%20%20%20%20%20%20%2F%2F%20make%20sure%20we%20override%20the%20regular%20background%20color%3A%5Cn%20%20%20%20%20%20%26.selected%20%7B%5Cn%20%20%20%20%20%20%20%20background-color%3A%20rgb(231%2C%20231%2C%20195)%3B%20%20%2F%2F%20beige%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%26.active-row%20.slick-cell%20%7B%5Cn%20%20%20%20%20%20background-color%3A%20rgb(226%2C%20255%2C%20253)%3B%5Cn%5Cn%20%20%20%20%20%20%2F%2F%20make%20sure%20we%20override%20the%20regular%20background%20color%3A%5Cn%20%20%20%20%20%20%26.selected%20%7B%5Cn%20%20%20%20%20%20%20%20background-color%3A%20red%3B%20%20%2F%2F%20beige%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%26.active-row.odd%20.slick-cell%20%7B%5Cn%20%20%20%20%20%20background-color%3A%20rgb(226%2C%20255%2C%20253)%3B%5Cn%5Cn%20%20%20%20%20%20%2F%2F%20make%20sure%20we%20override%20the%20regular%20background%20color%3A%5Cn%20%20%20%20%20%20%26.selected%20%7B%5Cn%20%20%20%20%20%20%20%20background-color%3A%20green%3B%20%20%2F%2F%20beige%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%26.loading%20%7B%5Cn%20%20%20%20%20%20.opacity(0.5)%3B%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-group%20%7B%5Cn%20%20%20%20border-bottom%3A%202px%20solid%20silver%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-group-toggle%20%7B%5Cn%20%20%20%20width%3A%209px%3B%5Cn%20%20%20%20height%3A%209px%3B%5Cn%20%20%20%20margin-right%3A%205px%3B%5Cn%20%20%20%20%5Cn%20%20%20%20%26.expanded%20%7B%5Cn%20%20%20%20%20%20background%3A%20url('images%2Fcollapse.gif')%20no-repeat%20center%20center%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%26.collapsed%20%7B%5Cn%20%20%20%20%20%20background%3A%20url('images%2Fexpand.gif')%20no-repeat%20center%20center%3B%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-group-totals%20%7B%5Cn%20%20%20%20color%3A%20gray%3B%5Cn%20%20%20%20background%3A%20white%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-sortable-placeholder%20%7B%5Cn%20%20%20%20background%3A%20silver%20!important%3B%5Cn%20%20%7D%5Cn%5Cn%20%20%40-moz-keyframes%20slickgrid-invalid-hilite%20%7B%5Cn%20%20%20%20from%20%7B%5Cn%20%20%20%20%20%20box-shadow%3A%200%200%206px%20red%3B%5Cn%20%20%20%20%7D%5Cn%20%20%20%20to%20%7B%5Cn%20%20%20%20%20%20box-shadow%3A%20none%3B%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%5Cn%20%20%40-webkit-keyframes%20slickgrid-invalid-hilite%20%7B%5Cn%20%20%20%20from%20%7B%5Cn%20%20%20%20%20%20box-shadow%3A%200%200%206px%20red%3B%5Cn%20%20%20%20%7D%5Cn%20%20%20%20to%20%7B%5Cn%20%20%20%20%20%20box-shadow%3A%20none%3B%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%5Cn%5Cn%5Cn%5Cn%20%20%2F%2F%20----------------------------------------------%5Cn%20%20%2F%2F%20Excel-like%20header%5Cn%20%20%2F%2F%20----------------------------------------------%5Cn%5Cn%20%20.slick-header-menubutton%5Cn%20%20%7B%5Cn%20%20%20%20background-position%3A%20center%20center%3B%5Cn%20%20%20%20background-repeat%3A%20no-repeat%3B%5Cn%20%20%20%20border-left%3A%20thin%20ridge%20silver%3B%5Cn%20%20%20%20cursor%3A%20pointer%3B%5Cn%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20position%3A%20absolute%3B%5Cn%5Cn%20%20%20%20%2F%2F%20The%20next%20few%20items%20are%20already%20defined%20in%20the%20slick-headermenu.less%20file%20and%20it%20should%20stay%20that%20way%2C%20*unless*%20you%20also%20replace%20the%20button%20image%20included%20there.%20%5Cn%20%20%20%20%2F%2Fbottom%3A%200%3B%5Cn%20%20%20%20%2F%2Fright%3A%200%3B%5Cn%20%20%20%20%2F%2Ftop%3A%200%3B%5Cn%20%20%20%20%2F%2Fwidth%3A%2014px%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-header-menu%5Cn%20%20%7B%5Cn%20%20%20%20background%3A%20none%20repeat%20scroll%200%200%20white%3B%5Cn%20%20%20%20border%3A%201px%20solid%20%23BFBDBD%3B%5Cn%20%20%20%20min-width%3A%20175px%3B%5Cn%20%20%20%20padding%3A%204px%3B%5Cn%20%20%20%20z-index%3A%20100000%3B%5Cn%20%20%20%20cursor%3A%20default%3B%5Cn%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20margin%3A%200%3B%5Cn%20%20%20%20position%3A%20absolute%3B%5Cn%5Cn%20%20%20%20button%5Cn%20%20%20%20%7B%5Cn%20%20%20%20%20%20border%3A%201px%20solid%20%23BFBDBD%3B%5Cn%20%20%20%20%20%20background-color%3A%20white%3B%5Cn%20%20%20%20%20%20width%3A%2045px%3B%5Cn%20%20%20%20%20%20padding%3A%204px%3B%5Cn%20%20%20%20%20%20margin%3A%204px%204px%204px%200%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.filter%5Cn%20%20%20%20%7B%5Cn%20%20%20%20%20%20border%3A%201px%20solid%20%23BFBDBD%3B%5Cn%20%20%20%20%20%20font-size%3A%208pt%3B%5Cn%20%20%20%20%20%20height%3A%20400px%3B%5Cn%20%20%20%20%20%20margin-top%3A%206px%3B%5Cn%20%20%20%20%20%20overflow%3A%20scroll%3B%5Cn%20%20%20%20%20%20padding%3A%204px%3B%5Cn%20%20%20%20%20%20white-space%3A%20nowrap%3B%5Cn%20%20%20%20%20%20width%3A%20200px%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.textfilter%5Cn%20%20%20%20%7B%5Cn%20%20%20%20%20%20%26%20%3E%20label%5Cn%20%20%20%20%20%20%7B%5Cn%20%20%20%20%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20%20%20%20%20margin-left%3A%205px%3B%5Cn%20%20%20%20%20%20%20%20margin-right%3A%2010px%3B%5Cn%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%26%20%3E%20input%5Btype%3Dtext%5D%5Cn%20%20%20%20%20%20%7B%5Cn%20%20%20%20%20%20%20%20width%3A%2070%25%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%5Cn%20%20label%5Cn%20%20%7B%5Cn%20%20%20%20display%3A%20block%3B%5Cn%20%20%20%20margin-bottom%3A%205px%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-header-menuitem%5Cn%20%20%7B%5Cn%20%20%20%20border%3A%201px%20solid%20transparent%3B%5Cn%20%20%20%20padding%3A%202px%204px%3B%5Cn%20%20%20%20cursor%3A%20pointer%3B%5Cn%20%20%20%20list-style%3A%20none%20outside%20none%3B%5Cn%20%20%20%20margin%3A%200%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-header-menuicon%5Cn%20%20%7B%5Cn%20%20%20%20background-position%3A%20center%20center%3B%5Cn%20%20%20%20background-repeat%3A%20no-repeat%3B%5Cn%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20height%3A%2016px%3B%5Cn%20%20%20%20margin-right%3A%204px%3B%5Cn%20%20%20%20vertical-align%3A%20middle%3B%5Cn%20%20%20%20width%3A%2016px%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-header-menucontent%5Cn%20%20%7B%5Cn%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20vertical-align%3A%20middle%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-header-menuitem%3Ahover%5Cn%20%20%7B%5Cn%20%20%20%20border-color%3A%20%23BFBDBD%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.header-overlay%2C%20%5Cn%20%20.cell-overlay%2C%20%5Cn%20%20.selection-cell-overlay%5Cn%20%20%7B%5Cn%20%20%20%20display%3A%20block%3B%5Cn%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20z-index%3A%20999%3B%5Cn%20%20%7D%5Cn%5Cn%20%20.slick-cell%20%3E%20.editor-select%20%7B%5Cn%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20left%3A%200%3B%5Cn%20%20%20%20right%3A%200%3B%5Cn%20%20%20%20width%3A%20auto%3B%5Cn%20%20%20%20top%3A%200%3B%5Cn%20%20%20%20bottom%3A%200%3B%5Cn%20%20%20%20max-width%3A%20100%25%3B%5Cn%20%20%20%20min-width%3A%200%3B%5Cn%20%20%20%20margin%3A%200%3B%5Cn%20%20%7D%5Cn%7D%5Cn%5Cn%22%2C%22%2F%2F!%5Cn%2F%2F%20%40license%5Cn%2F%2F%20slickGrid%20v2.3.18-alpha.1011%20(https%3A%2F%2Fgithub.com%2FGerHobbelt%2FSlickGrid)%5Cn%2F%2F%20Copyright%202009-2015%20Michael%20Leibman%20%3Cmichael%7Bdot%7Dleibman%7Bat%7Dgmail%7Bdot%7Dcom%3E%5Cn%2F%2F%5Cn%2F%2F%20Distributed%20under%20MIT%20license.%5Cn%2F%2F%20All%20rights%20reserved.%5Cn%2F%2F%2F%5Cn%5Cn%5Cn%5Cn%2F%2F%5Cn%2F%2F%20LESS%20mixins%20for%20slickgrid%5Cn%2F%2F%5Cn%5Cn.opacity(%40opacity)%5Cn%7B%5Cn%20%20opacity%3A%20%40opacity%3B%5Cn%20%20%2F%2F%20See%20also%3A%20http%3A%2F%2Fstackoverflow.com%2Fquestions%2F9436776%2Flesscss-method-with-ie-filter-alpha-opacity-css%2F9436801%239436801%5Cn%20%20%2F%2F%20http%3A%2F%2Flesscss.org%2Ffeatures%2F%23features-overview-feature-functions%5Cn%20%20filter%3A%20~%60%5C%22alpha(opacity%20%3D%20%5C%22%20%2B%20%40%7Bopacity%7D%20*%20100%20%2B%20%5C%22)%5C%22%60%3B%5Cn%7D%5Cn%5Cn%5Cn%2F%2F%5Cn%2F%2F%20Taken%20from%5Cn%2F%2F%20%20%20https%3A%2F%2Fgithub.com%2Fless%2Fless.js%2Fissues%2F1199%5Cn%2F%2F%20%20%20https%3A%2F%2Fgithub.com%2Fless%2Fless.js%2Fissues%2F36%5Cn%2F%2F%20and%20reworked%20as%20an%20alternative%20answer%20to%5Cn%2F%2F%20%20%20http%3A%2F%2Fstackoverflow.com%2Fquestions%2F18558368%2Fis-there-a-generic-way-to-add-vendor-prefixes-in-less%5Cn%2F%2F%5Cn%40prefix-moz%3A%20true%3B%5Cn%40prefix-opera%3A%20true%3B%5Cn%40prefix-webkit%3A%20true%3B%5Cn%5Cn.moz-prefix(%40prop%2C%20%40value)%20when%20(%40prefix-moz)%5Cn%7B%5Cn%20%20-moz-%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn.opera-prefix(%40prop%2C%20%40value)%20when%20(%40prefix-opera)%5Cn%7B%5Cn%20%20-o-%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn.webkit-prefix(%40prop%2C%20%40value)%20when%20(%40prefix-webkit)%5Cn%7B%5Cn%20%20-webkit-%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn.prefixer(%40prop%2C%20%40value)%5Cn%7B%5Cn%20%20.webkit-prefix(%40prop%2C%20%40value)%3B%5Cn%20%20.opera-prefix(%40prop%2C%20%40value)%3B%5Cn%20%20.moz-prefix(%40prop%2C%20%40value)%3B%5Cn%20%20%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn%2F%2F%20Usage%20example%3A%5Cn%2F%2F%20%20%20.box%20%7B%5Cn%2F%2F%20%20%20%20%20.prefixer(border-radius%2C%2010px)%3B%5Cn%2F%2F%20%20%20%7D%5Cn%5Cn%5Cn%5Cn%5Cn%5Cn.transition(%40value)%5Cn%7B%5Cn%20%20.prefixer(transition%2C%20%40value)%3B%5Cn%7D%5Cn%5Cn.text-overflow(%40value)%5Cn%7B%5Cn%20%20.opera-prefix(text-overflow%2C%20%40value)%3B%5Cn%20%20text-overflow%3A%20%40value%3B%5Cn%7D%5Cn%5Cn%2F%2F%20Ensure%20the%20addressed%20DOM%20elements%20render%20using%20the%20CSS%20box-model.%5Cn.box-model()%5Cn%7B%5Cn%20%20%2F%2F%20Note%3A%20when%20your%20userland%20CSS%20rules%20override%20these%2C%20you%20*MAY*%20get%20an%20exception%20thrown%20%5Cn%20%20%2F%2F%20by%20SlickGrid%20at%20initialization%20time%20as%20SlickGrid%20requires%20this%20mode%20for%20all%20its%20%5Cn%20%20%2F%2F%20DOM%20elements%20to%20ensure%20a%20correct%20render%20of%20the%20grid%20is%20produced%20at%20minimal%20cost.%5Cn%20%20%2F%2F%20%5Cn%20%20%2F%2F%20We%20say%20*MAY*%20because%20the%20JS%20code%20doesn't%20check%20its%20entire%20internal%20tree%20thoroughly%5Cn%20%20%2F%2F%20for%20these%20settings%20as%20that's%20too%20much%20up-front%20cost%20for%20when%20your%20userland%20CSS%2FLESS%5Cn%20%20%2F%2F%20*may*%20happen%20to%20screw%20this%20up.%5Cn%20%20.prefixer(box-sizing%2C%20border-box)%3B%5Cn%7D%5Cn%22%2C%22%40import%20(less)%20url('..%2Fslick-default-theme.less')%3B%5Cn%5Cn.border-radius(%40radius)%20%7B%5Cn%20%20-moz-border-radius%3A%20%40radius%3B%5Cn%20%20-webkit-border-radius%3A%20%40radius%3B%5Cn%20%20border-radius%3A%20%40radius%3B%5Cn%7D%5Cn%5Cn*%20%7B%5Cn%20%20font-family%3A%20arial%3B%5Cn%20%20font-size%3A%208pt%3B%5Cn%7D%5Cn%5Cnpre%20%7B%5Cn%20%20font-family%3A%20Consolas%2C%20monospace%3B%5Cn%7D%5Cn%5Cnbody%20%7B%5Cn%20%20background%3A%20beige%3B%5Cn%20%20padding%3A%200%3B%5Cn%20%20margin%3A%208px%3B%5Cn%5Cn%20%20%2F*%20%5Cn%20%20%20%20prevent%20the%20user%20from%20accidentally%20selecting%20a%20chunk%20of%20text%20in%20the%20grid%3A%5Cn%20%20%20%20we%20provide%20that%20functionality%20via%20select%20range%20%2B%20copy%2Fpaste%20%5Cn%20%20%20%20while%20it%20makes%20usage%20of%20the%20grid%20on%20mouse%2Btouch%20devices%20dissatisfactory%5Cn%20%20%20%20(Windows%208.1%20%2B%20touchscreen%20laptop%20hardware%2C%20e.g.%20ASUS%20N550JV%20series)%5Cn%20%20%20*%2F%5Cn%20%20-webkit-touch-callout%3A%20none%3B%5Cn%20%20-webkit-user-select%3A%20none%3B%5Cn%20%20-khtml-user-select%3A%20none%3B%5Cn%20%20-moz-user-select%3A%20none%3B%5Cn%20%20-ms-user-select%3A%20none%3B%5Cn%20%20user-select%3A%20none%3B%5Cn%7D%5Cn%5Cnh2%20%7B%5Cn%20%20font-size%3A%2010pt%3B%5Cn%20%20border-bottom%3A%201px%20dotted%20gray%3B%5Cn%7D%5Cn%5Cnul%20%7B%5Cn%20%20margin-left%3A%200%3B%5Cn%20%20padding%3A%200%3B%5Cn%20%20cursor%3A%20default%3B%5Cn%7D%5Cn%5Cnli%20%7B%5Cn%20%20background%3A%20url(%5C%22..%2Fimages%2Farrow_right_spearmint.png%5C%22)%20no-repeat%20center%20left%3B%5Cn%20%20padding%3A%200%200%200%2014px%3B%5Cn%5Cn%20%20list-style%3A%20none%3B%5Cn%20%20margin%3A%200%3B%5Cn%7D%5Cn%5Cn.grid-outer-wrapper%20%7B%5Cn%20%20width%3A%20602px%3B%5Cn%20%20float%3A%20left%3B%5Cn%5Cn%20%20background-color%3A%20white%3B%5Cn%20%20border%3A%201px%20solid%20%23CCCCCC%3B%5Cn%20%20padding%3A%201px%3B%5Cn%7D%5Cn%5Cn.grid-inner-wrapper%20%7B%5Cn%20%20background%3A%20white%3B%5Cn%20%20outline%3A%200%3B%5Cn%20%20%2F%2F%20border%3A%201px%20solid%20gray%3B%5Cn%5Cn%20%20%2F%2F%20width%3A%20100%25%3B%5Cn%20%20min-height%3A%20450px%3B%5Cn%7D%5Cn%5Cn.grid-pager%20%7B%5Cn%20%20%2F%2Fwidth%3A%20100%25%3B%5Cn%20%20%2F%2Fheight%3A%2020px%3B%5Cn%7D%5Cn%5Cn.grid-header%20%7B%5Cn%20%20%2F%2Fborder%3A%201px%20solid%20gray%3B%5Cn%20%20border-bottom%3A%200%3B%5Cn%20%20border-top%3A%200%3B%5Cn%20%20background%3A%20url('..%2Fimages%2Fheader-bg.gif')%20repeat-x%20center%20top%3B%5Cn%20%20color%3A%20black%3B%5Cn%20%20height%3A%2024px%3B%5Cn%20%20line-height%3A%2024px%3B%5Cn%20%20%2F%2Fwidth%3A%20100%25%3B%5Ct%5Ct%5Ct%2F%2F%20this%20matches%20the%20width%20with%20the%20DIV%20below%3A%20.grid-inner-wrapper%5Cn%7D%5Cn%5Cn.grid-header%20label%20%7B%5Cn%20%20display%3A%20inline-block%3B%5Cn%20%20font-weight%3A%20bold%3B%5Cn%20%20margin%3A%20auto%20auto%20auto%206px%3B%5Cn%7D%5Cn%5Cn.grid-header%20.ui-icon%20%7B%5Cn%20%20margin%3A%204px%204px%20auto%206px%3B%5Cn%20%20background-color%3A%20transparent%3B%5Cn%20%20border-color%3A%20transparent%3B%5Cn%7D%5Cn%5Cn.grid-header%20.ui-icon.ui-state-hover%20%7B%5Cn%20%20background-color%3A%20white%3B%5Cn%7D%5Cn%5Cn.grid-header%20%23txtSearch%20%7B%5Cn%20%20margin%3A%200%204px%200%204px%3B%5Cn%20%20padding%3A%202px%202px%3B%5Cn%20%20.border-radius(2px)%3B%5Cn%20%20border%3A%201px%20solid%20silver%3B%5Cn%7D%5Cn%5Cn.options-panel%20%7B%5Cn%20%20.border-radius(6px)%3B%5Cn%20%20border%3A%201px%20solid%20silver%3B%5Cn%20%20background%3A%20%23f0f0f0%3B%5Cn%20%20padding%3A%2010px%3B%5Cn%20%20margin-bottom%3A%2020px%3B%5Cn%5Cn%20%20float%3A%20left%3B%5Cn%20%20margin-left%3A%2010px%3B%5Cn%20%20padding%3A%2010px%3B%5Cn%5Cn%20%20max-width%3A%20260px%3B%5Cn%7D%5Cn%5Cn%23viewsource%20%7B%5Cn%20%20cursor%3A%20pointer%3B%5Cn%20%20color%3A%20darkblue%3B%5Cn%7D%5Cn%5Cn.diagnostics-panel%20%7B%5Cn%20%20clear%3A%20both%3B%5Cn%20%20min-width%3A%20600px%3B%5Cn%20%20padding%3A%2010px%200%200%200%3B%5Cn%20%20margin%3A%200%3B%5Cn%7D%5Cn%5Cn.diagnostics-view%20%7B%5Cn%20%20min-width%3A%20600px%3B%5Cn%20%20margin-top%3A%2020px%3B%5Cn%5Cn%20%20.border-radius(6px)%3B%5Cn%20%20border%3A%201px%20solid%20silver%3B%5Cn%20%20background%3A%20%23f0f0f0%3B%5Cn%5Cn%20%20margin-bottom%3A%2020px%3B%5Cn%20%20margin-left%3A%200%3B%5Cn%20%20padding%3A%2010px%3B%5Cn%7D%5Cn%5Cn%23debug-output%20%7B%5Cn%20%20white-space%3A%20pre-wrap%3B%5Cn%20%20background%3A%20white%3B%5Cn%20%20outline%3A%200%3B%5Cn%20%20border%3A%201px%20solid%20gray%3B%5Cn%20%20min-height%3A%20100px%3B%5Cn%7D%5Cn%5Cn%2F%2F%20Individual%20cell%20styles%5Cn.slick-cell.task-name%20%7B%5Cn%20%20font-weight%3A%20bold%3B%5Cn%20%20text-align%3A%20right%3B%5Cn%7D%5Cn%5Cn.slick-cell.task-percent%20%7B%5Cn%20%20text-align%3A%20right%3B%5Cn%7D%5Cn%5Cn.slick-cell.cell-move-handle%20%7B%5Cn%20%20font-weight%3A%20bold%3B%5Cn%20%20text-align%3A%20right%3B%5Cn%20%20border-right%3A%20solid%20gray%3B%5Cn%5Cn%20%20background%3A%20%23efefef%3B%5Cn%20%20cursor%3A%20move%3B%5Cn%7D%5Cn%5Cn.cell-move-handle%3Ahover%20%7B%5Cn%20%20background%3A%20%23b6b9bd%3B%5Cn%7D%5Cn%5Cn.slick-row.selected%20.cell-move-handle%20%7B%5Cn%20%20background%3A%20%23D5DC8D%3B%5Cn%7D%5Cn%5Cn.slick-row%20.cell-actions%20%7B%5Cn%20%20text-align%3A%20left%3B%5Cn%7D%5Cn%5Cn.slick-row.complete%20%7B%5Cn%20%20background-color%3A%20%23DFD%3B%5Cn%20%20color%3A%20%23555%3B%5Cn%7D%5Cn%5Cn.percent-complete-bar%20%7B%5Cn%20%20display%3A%20inline-block%3B%5Cn%20%20height%3A%206px%3B%5Cn%20%20.border-radius(3px)%3B%5Cn%7D%5Cn%5Cn%5Cn%23displaycode%20%7B%5Cn%20%20%20%20display%3Anone%3B%20%2F%2F%20initially%20hidden%5Cn%7D%5Cn%5Cn%2F%2F%20Formatted%20Code%20Block%5Cn%23displaycode%20pre%20%7B%5Cn%20%20font-size%3A%20normal%3B%5Cn%20%20background-color%20%3A%20%23ffffff%3B%5Cn%20%20overflow%3Ascroll%3B%5Cn%20%20height%3A500px%3B%5Cn%7D%5Cn%5Cn%5Cn%22%5D%7D */