div {
  overflow: hidden;
}
.slick-cell.copied {
  background: blue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: 0.5s background;
}
.wkclEdCont {
  width: 210px;
  height: 23px;
  overflow: hidden;
  margin-top: -1px;
  border: 1px solid #DDD;
}
.wkclEdContNotEditing {
  width: 210px;
  height: 23px;
  overflow: hidden;
  margin-top: -1px;
  border-right: 1px solid #DDD;
}
.wkclEdHalfDay {
  width: 14px;
  height: 100%;
  cursor: pointer;
  float: left;
}
.wkclEdDay {
  width: 29px;
  height: 100%;
  border-left: 1px solid #DDD;
  float: left;
}
.wkclEdHeadCont {
  width: 210px;
  height: 23px;
  overflow: hidden;
  border: 1px solid #FFF;
  border-bottom: none;
  margin-top: 5px;
}
.wkclEdHeadDay {
  width: 29px;
  height: 100%;
  border-left: 1px solid #DDD;
  float: left;
  text-align: center;
  margin-top: 5px;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22examples%2FMainSheetUI.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAgBA%3BEACI%2CgBAAA%3B%3BAAGJ%2CWAAW%3BEACP%2CgBAAA%3BEACA%2CgCAAA%3BEACA%2CmCAAA%3B%3BAAOJ%3BEACI%2CYAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2CsBAAA%3B%3BAAEJ%3BEACI%2CYAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2C4BAAA%3B%3BAAGJ%3BEACI%2CWAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3BEACA%2CWAAA%3B%3BAAEJ%3BEACI%2CWAAA%3BEACA%2CYAAA%3BEACA%2C2BAAA%3BEACA%2CWAAA%3B%3BAAGJ%3BEACI%2CYAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CsBAAA%3BEACA%2CmBAAA%3BEACA%2CeAAA%3B%3BAAGJ%3BEACI%2CWAAA%3BEACA%2CYAAA%3BEACA%2C2BAAA%3BEACA%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CeAAA%22%2C%22sourcesContent%22%3A%5B%22%2F%2F!%5Cn%2F%2F%20%40license%5Cn%2F%2F%20slickGrid%20v2.3.18-alpha.1011%20(https%3A%2F%2Fgithub.com%2FGerHobbelt%2FSlickGrid)%5Cn%2F%2F%20Copyright%202009-2015%20Michael%20Leibman%20%3Cmichael%7Bdot%7Dleibman%7Bat%7Dgmail%7Bdot%7Dcom%3E%5Cn%2F%2F%5Cn%2F%2F%20Distributed%20under%20MIT%20license.%5Cn%2F%2F%20All%20rights%20reserved.%5Cn%2F%2F%2F%5Cn%5Cn%5Cn%5Cn%5Cn%5Cn%5Cn%5Cn%5Cndiv%20%7B%5Cn%20%20%20%20overflow%3A%20hidden%3B%5Cn%7D%5Cn%5Cn.slick-cell.copied%20%7B%5Cn%20%20%20%20background%3A%20blue%3B%5Cn%20%20%20%20background%3A%20rgba(0%2C%200%2C%20255%2C%200.2)%3B%5Cn%20%20%20%20-webkit-transition%3A%200.5s%20background%3B%5Cn%7D%5Cn%5Cn%5Cn%2F%2F%5Cn%2F%2F%20weekcalendareditor%5Cn%2F%2F%5Cn.wkclEdCont%20%7B%5Cn%20%20%20%20width%3A%20210px%3B%5Cn%20%20%20%20height%3A%2023px%3B%5Cn%20%20%20%20overflow%3A%20hidden%3B%5Cn%20%20%20%20margin-top%3A%20-1px%3B%5Cn%20%20%20%20border%3A%201px%20solid%20%23DDD%3B%5Cn%7D%5Cn.wkclEdContNotEditing%20%7B%5Cn%20%20%20%20width%3A%20210px%3B%5Cn%20%20%20%20height%3A%2023px%3B%5Cn%20%20%20%20overflow%3A%20hidden%3B%5Cn%20%20%20%20margin-top%3A%20-1px%3B%5Cn%20%20%20%20border-right%3A%201px%20solid%20%23DDD%3B%5Cn%7D%5Cn%5Cn.wkclEdHalfDay%20%7B%5Cn%20%20%20%20width%3A%2014px%3B%5Cn%20%20%20%20height%3A%20100%25%3B%5Cn%20%20%20%20cursor%3A%20pointer%3B%5Cn%20%20%20%20float%3A%20left%3B%5Cn%7D%5Cn.wkclEdDay%20%7B%5Cn%20%20%20%20width%3A%2029px%3B%5Cn%20%20%20%20height%3A%20100%25%3B%5Cn%20%20%20%20border-left%3A%201px%20solid%20%23DDD%3B%5Cn%20%20%20%20float%3A%20left%3B%5Cn%7D%5Cn%5Cn.wkclEdHeadCont%20%7B%5Cn%20%20%20%20width%3A%20210px%3B%5Cn%20%20%20%20height%3A%2023px%3B%5Cn%20%20%20%20overflow%3A%20hidden%3B%5Cn%20%20%20%20border%3A%201px%20solid%20%23FFF%3B%5Cn%20%20%20%20border-bottom%3A%20none%3B%5Cn%20%20%20%20margin-top%3A%205px%3B%5Cn%7D%5Cn%5Cn.wkclEdHeadDay%20%7B%5Cn%20%20%20%20width%3A%2029px%3B%5Cn%20%20%20%20height%3A%20100%25%3B%5Cn%20%20%20%20border-left%3A%201px%20solid%20%23DDD%3B%5Cn%20%20%20%20float%3A%20left%3B%5Cn%20%20%20%20text-align%3A%20center%3B%5Cn%20%20%20%20margin-top%3A%205px%3B%5Cn%7D%5Cn%5Cn%22%5D%7D */